
.movie_container {
    padding: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f4f4;
}

.movie_inner_container {
    display: flex;
    gap: 50px;
}

.movie_image_parent {
    height: 100%;
}

.movie_image {
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie_details_parent {
    flex: 1;
    align-self: center;
}

.movie_title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #212121;
    font-family: "Poppins-Bold", sans-serif;
}

.movie_director {
    margin-top: 10px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #666;
    margin-bottom: 50px;
    text-align: center;
}

.movie_plot {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.movie_plot > strong {
    color: #212121;
    font-weight: 600;
}

.movie_additional_details_header {
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    font-family: "Poppins-Bold", sans-serif;
    margin-top: 30px;
}

.movie_additional_details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media (max-width: 650px) {
    .movie_inner_container {
        flex-direction: column;
        gap: 10px
    }

    .movie_image_parent {
        width: 100%;
    }

    .movie_image_parent img {
            width: 100%;
    }
}

@media (max-width: 767px) {

    .movie_title {
        font-size: 18px;
    }

    .movie_director {
        margin-bottom: 20px;
        font-size: 12px;
        margin-top: 7px;
    }

    .movie_plot {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .movie_additional_details_header {
        margin-top: 15px;
        font-size: 16px;
    }

    .movie_image_parent {
        margin: auto;
    }

    .movie_additional_details {
        flex-direction: column;
    }
}

@media (max-width: 991px) {

    .movie_inner_container {
        gap: 20px;
    }

    .movie_image {
        width: 100%;
    }

    .movie_image_parent {
        width: 25%;
        height: auto;
        margin: auto;
    }

    .movie_title {
        font-size: 27px;
    }

    .movie_plot {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .movie_additional_details_header {
        font-size: 18px;
    }
}